[Unit]
Description=Typing Game
After=network.target

[Service]
Type=simple
ExecStart=/home/piegarden/terminaltype/app -c /home/piegarden/terminaltype/config.json 

Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
