[Unit]
Description=Typing Game
After=network.target

[Service]
Type=simple
ExecStart=/home/piegarden/deploy/terminaltype/terminaltype

Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
